body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content:space-around;
  align-items: center; 
  padding: 10px 20px;
  background-color:transparent;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: fixed;
  transition: background-color 0.3s;
  z-index: 1000;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  max-width: 30%;
  max-height: 60%;
}

.bag-icon {
  position: relative;
  cursor: pointer;
}

.bag-icon img {
  width: 30px;
  height: auto;
}

.bag-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: #fff;
  border-radius: 50%;
  padding: 5px 8px;
  font-size: 12px;
}

.bag-icon a {
  font-size: large;
  color: #fff;
  font-weight: bolder;
  text-decoration: none;
  margin-right: 30px;
}

.search-bar input[type="search"] {
  padding: 5px 10px;
  border: 1px solid #7d675b;
  border-radius: 20px;
  margin-right: 50px;
}

.navbar a {
  text-decoration: none;
  margin-left: 10px;
  color: white;
  transition: color 0.3s; 
}

.navbar a:hover {
  color: #666;
}

.navbar.scrolled {
  background-color: #000;
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.navbar.scrolled .navbar a {
  color:white;
}

.hero {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(33, 32, 32, 0.75),rgba(83, 79, 79, 0.75)), url('../Img/package1.jpg');
  background-size: cover;
  background-position: center;
  color: #efecef;
  text-align: center;
  padding: 50px 20px;
  position: relative;
}

.content {
  padding-top: 60px;
  padding: 50px;
  color: #7d675b;
  line-height: 2pc;
  font-size: medium;
}

.grid-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px; 
  padding: 20px; 
  justify-content: center; 
}

.grid-item {
  width: 100%;
  box-sizing: border-box; 
  display: flex;
  flex-direction: column; 
  align-items: center; 
  position: relative;
  overflow: hidden;
}

.aspect-ratio-container {
  position: relative;
  width: 100%;
  padding-bottom: 75%; /* 4:3 Aspect Ratio */
  background-color: #f0f0f0; /* Fallback color */
}

.grid-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover the entire container while maintaining the aspect ratio */
}

.grid-caption {
  text-align: center; 
  font-size: 1em; 
  color: #7d675b;
}

footer {
  background-color: #7d675b;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-items: center;
  color: #efecef;
  width: 100%;
  min-height: 30px;
}

footer a {
  color: white;
}

.footer a:hover {
  color: #a19a9a;
}
